 # H1:Data Science Tools and Ecosystem

 In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the key takeaways from the course

**Objectives**
- Common Languages used in Data Science
- Common Libraries
- Data Science Tools

Some of the most common languages used for data science are
1. Python
2. SQL
3. R

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. Seaborn
3. NumPy

|Data Science Tools|
|------------------|
| Data Lakes|
|Data repositories|
|Data Managment System|

Below are a few examples of evaluating arithmetic expressions in Python

- 2+3
- (20+3)100
- 10+43

In [5]:
#This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [6]:
#This will convert 200 minutes to hours by diving by 60

200/6

33.333333333333336

## H2: Author
Juan Caram